<%- include('includes/header'); %>
<!-- <pre>
    <%= JSON.stringify(doc, null, 2) %>
  </pre> -->
<% if (doc) { %>
    <form method="POST" action="/doc?_method=PUT" class="document">
        <!-- <input type="hidden" name="_method" value="PUT"> -->
        <input type="hidden" name="id" value="<%= doc.id %>">
        <label for="title"></label>
        <input class="title" type="text" name="title" value="<%= doc.title %>" />
    
        <label for="content"></label>
        <textarea class="doc-content" name="content"><%= doc.content %></textarea>
    
        <input class="submit" type="submit" value="Update" />
    </form>   
<% } else { %>
        <form method="POST" action="/doc" class="document">
        <label for="title"></label>
        <input class="title" type="text" name="title" value="" placeholder="add name"/>

        <label for="content"></label>
        <textarea class="doc-content" name="content" placeholder="add content"></textarea>

        <input class="submit" type="submit" value="Save" />
    </form>
<%}%>
<%- include('includes/footer'); %>
